include include/*.h
include pysrc/*.cpp
recursive-include batoid/data/ *
recursive-include pybind11/include/ *
include pybind11/CMakeLists.txt
include pybind11/CMakeFiles/*
recursive-include pybind11/tools *
recursive-include eigen/Eigen/ *
include CMakeLists.txt
include LICENSE
include cmake/*
